.button {
    -fx-background-color: linear-gradient(#ffbf7a, #f5ceae);
    -fx-font-size: 16px;
    -fx-font-family: Georgia, Serif;
    -fx-text-fill: #946431;
    -fx-border-radius: 50 0 50 0;
    -fx-background-radius: 50 0 50 0;
}
.button:hover {
    -fx-background-color: linear-gradient(#f5ceae, #ffbf7a);
}
.button:focused {
	-fx-border-color: #946431;
}